<% job = selected_job %>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">

    <div class="job">
    
      <div class="job-header">
        <h1 class="red_title"> <%= job.title %> </h1>

        <div class="job-links">
          <% if job.contact != "tokyo@lewagon.org" %>
            <p><%= mail_to "#{job.contact}", "Apply Directly", class: "btn btn-danger" %><p>
          <% else %>
            <p><%= mail_to "#{job.contact}", "Apply via Le Wagon", class: "btn btn-danger" %><p>
          <% end %>

          <% if job.link %>
            <p><%= link_to "Company Website", "#{job.link}", class: "btn btn-success", target: "_blank" %><p>
          <% end %>
        </div>

      </div>

      <p><span class="underline">Company Name:</span> <%= job.company_name %></p>
      <p><span class="underline">Japanese Level:</span> <%= job.japanese %></p>

      <h2>Description</h2>
      <p class="text-justify"><%= job.description %></p>

      <h2>Requirements</h2>
      <p class="text-justify"><%= job.requirements %></p>
    
    </div>
    
    </div>
  </div>
</div>
