---
title: Le Wagon - Tokyo Jobs
---

<%# Checking for Japanese %>
<% jp_regex = /[\u3000-\u303F]|[\u3040-\u309F]|[\u30A0-\u30FF]|[\uFF00-\uFFEF]|[\u4E00-\u9FAF]|[\u2605-\u2606]|[\u2190-\u2195]|\u203B/ %>
<%# ----------------------------- %>

<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-8 col-md-offset-2">

        <%# <%= image_tag "wagon_logo.png", :id => "logo" %>
        <div class="home-wrap">
          <h1 class="home-title">#Tokyo Jobs</h1>

          <% data.jobs.each do |job| %>

            <div class="job_card">
              <%# Title & Date %>
              <%= link_to "#{job.title} - #{job.company_name}", "jobs/#{job.id}.html" %>
              <p class="date"><%= job.date %></p>
              
              <%# Description %>
              <% if job.description.match(jp_regex) %>
                <p class="description"><%= job.description.split("。").first(2).join %>...</p>
              <% elsif job.description.length > 20  %>
                <p class="description"><%= job.description.split[0..20].join(' ').gsub(/\<br\s*\/?\>/, "") %>...</p>
              <% else %>
                <p class="description"><%= job.description.gsub(/\<br\s*\/?\>/, "") %></p>
              <% end %>

            </div>

          <% end %>
        </div>


      </div>
    </div>
  </div>
</div>
